* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    background-color: rgb(218, 218, 248);
}

/* LEFT-SIDE NAV STYLING */
.left-nav {
    width: 19%;
    height: 69rem;
    background-color: rgb(1, 1, 39);
    padding-left: 1.5rem;
}

.img {
    width: 10rem;
    margin-top: 2.5rem;
    padding: 0;
}

.left-nav-content {
    padding-top: 3rem;
    margin-left: 1.5rem;
}

.dashboard {
    color: rgb(0, 0, 255);
    cursor: default;
}

.dashboard:hover {
    background-color: rgba(0, 0, 255, 0.048);
}

i {
    color: white;
}

.www {
    width: 14rem;
    cursor: default;
}

.www:hover {
    background-color: rgba(0, 0, 255, 0.151);
}

.i-content {
    color: rgba(255, 255, 255, 0.418);
    font-size: smaller;
    font-weight: 100;
}

.i-content-dashboard {
    color: rgb(0, 0, 255);
    font-size: smaller;
    font-weight: 100;
}

/* TOP NAV STYLING */
.ii {
    color: rgba(0, 0, 0, 0.596);
    position: relative;
    top: 2px;
    right: -2rem;
}

.search {
    width: 12rem;
    height: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.596);
    border-radius: 2rem;
    padding-left: 2rem;
    padding-top: 5px;
    padding-bottom: 9px;
    font-size: 13px;
}

.img2 {
    width: 2.9rem;
    border-radius: 2rem;
}

.img2-parent {
    border: 3.5px solid rgb(18, 211, 18);
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 10rem;
    padding: 5px 3px 3px 3px;
}

.admin {
    color: rgb(18, 211, 18);
}

.nav-admin {
    display: flex;
    align-items: center;
}

.nav-admin-cont {
    margin-top: 10px;
    font-size: smaller;
}

.nav-admin-cont,
h3 {
    font-weight: bolder;
}

.off {
    background-color: rgb(221, 58, 58);
    padding: 5px;
    border-radius: 1rem;
    font-size: x-small;
}

.off:hover {
    background-color: white;
    color: rgb(221, 58, 58);
}

nav {
    display: flex;
    align-items: center;
    padding-left: 30rem;
    background-color: white;
    width: 56.2%;
    padding-top: 5px;
    padding-bottom: 18px;
}

/* SECTION ONE STYLING */
.one {
    background-color: white;
    border-radius: 10px;
    padding-left: 1.1rem;
    margin-top: 1rem;
    height: 13rem;
    margin-left: 25px;
    padding-bottom: 10px;
    box-shadow: .0001px .0001px 10px .0001px rgba(128, 128, 128, 0.61);
}

.sum {
    font-weight: bold;

}

.head {
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.ic {
    color: rgba(0, 0, 0, 0.596);
    position: relative;
    top: 2px;
    left: 53rem;
}

.search1 {
    width: 9rem;
    height: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.596);
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 44rem;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 9px;
    font-size: 13px;
}

h1 {
    font-size: 1.2rem;
    padding-top: 10px;
}

.contener {
    background-color: rgb(1, 1, 39);
    width: 8.9rem;
    height: 7.8rem;
    color: white;
    border-radius: 12px;
    padding-left: 10px;

}

.st {
    position: relative;
    left: 6rem;
    padding-bottom: 10px;
}

.sales {
    padding-top: 10px;
    line-height: 12px;
}

h5 {
    color: rgb(0, 0, 255);
    font-weight: 400;
}

li {
    font-size: x-small;
    padding-top: 0;
    font-weight: lighter;
}

.summary-parent-div {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.profit {
    color: rgb(18, 211, 18);
}

/* SECTION TWO STYLING */
.two {
    display: flex;
}

.two1 {
    background-color: white;
    border-radius: 20px;
    padding-left: 1.1rem;
    margin-top: 1rem;
    margin-left: 25px;
    width: 39rem;
    height: 19rem;
    padding-bottom: 20px;
    box-shadow: .0001px .0001px 10px .0001px rgba(128, 128, 128, 0.61);
}

h1 {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

th {
    padding: 0 43px 0 0;
    text-align: left;
    font-size: 15px;
}

table {
    padding-left: 10px;
}

hr {
    position: relative;
    top: 2.7rem;
    width: 93%;
    border: .1px solid rgba(128, 128, 128, 0.178);
}

td {
    padding: 32px 0px 0 0;
    text-align: left;
    font-size: 13px;
    font-weight: 450;
}

.line2 {
    position: relative;
    top: 5.8rem;
}

.line3 {
    position: relative;
    top: 8.9rem;
}

.line4 {
    position: relative;
    top: 12rem;
}

.two2 {
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 1rem;
    margin-left: 25px;
    width: 18.1rem;
    height: 17.5rem;
    padding-bottom: 20px;
    box-shadow: .0001px .0001px 10px .0001px rgba(128, 128, 128, 0.61);
}

.tab {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    padding: 19px 20px 0 18px;
}

.tab2 {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    padding: 17px 30px 0 24px;
}

.tab-sect {
    font-weight: lighter;
}

/* SECTION THREE STYLING */
.THREE {
    display: flex;
}

.three {
    background-color: white;
    border-radius: 20px;
    padding-left: 1.1rem;
    margin-top: 1rem;
    margin-left: 25px;
    width: 39rem;
    height: 22rem;
    padding-bottom: 20px;
    box-shadow: .0001px .0001px 10px .0001px rgba(128, 128, 128, 0.61);
}

.three1 {
    display: flex;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.three11 {
    padding-right: 4.5rem;
}

.three12 {
    padding-left: 5.5rem;
}

.dashbud {
    color: black;
    cursor: default;
}

.approve {
    font-weight: bold;
    background-color: #00fa00;
    padding: 5px 8px 8px 8px;
    border: 1px solid #00fa00;
    border-radius: 5px;
    margin-left: 6px;
}
.approve:hover{
    background-color: #00fa0057;
    border: 1px solid #00fa0057; 
}
.approve:active{
    background-color: #4ead0f;  
}

.deny {
    font-weight: bold;
    background-color: rgb(185, 10, 10);
    padding: 5px 19px 7.5px 19px;
    border: 1px solid rgb(185, 10, 10);
    border-radius: 5px;
    color: white;
}
.deny:hover{
    background-color: rgba(185, 10, 10, 0.733);
    border: 1px solid rgba(185, 10, 10, 0.733);
}
.deny:active{
    background-color: rgb(255, 0, 0);
}

.img3 {
    width: 2rem;
    border-radius: 2rem;
    margin-right: 5.8rem;
    margin-left: 2rem;
}

.approval {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.prove {
    padding-right: 3rem;
}

.line1 {
    position: relative;
    top: 3.1rem;
    width: 93%;
    left: 7px;
    border: .1px solid rgba(128, 128, 128, 0.178);
}

.line21 {
    position: relative;
    top: 6.1rem;
    left: 7px;
}

.line31 {
    position: relative;
    top: 9.1rem;
    left: 7px;
}

.line41 {
    position: relative;
    top: 12.1rem;
    left: 7px;
}

.THREE-child {
    background-color: white;
    border-radius: 20px;
    margin-left: 25px;
    width: 18.7rem;
    height: 24.5rem;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: auto auto;
    box-shadow: .0001px .0001px 10px .0001px rgba(128, 128, 128, 0.61);
}

.number {
    color: rgb(0, 179, 250);
    font-size: 2.5rem;
}

.final {
    font-size: 2rem;
    text-align: center;
    border-collapse: collapse;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 8px;
    padding-right: 8px;
}
.p11{
    border: 2px dashed rgba(122, 115, 115, 0.548);
    border-top-left-radius: 20px;
}
.p12{
    border: 2px dashed rgba(122, 115, 115, 0.548);
    border-bottom-left-radius: 20px;
}
.p13{
    border: 2px dashed rgba(122, 115, 115, 0.548);
    border-top-right-radius: 20px;   
}
.p14{
    border: 2px dashed rgba(122, 115, 115, 0.548);
    border-bottom-right-radius: 20px; 
}